<ul class="layui-nav layui-nav-tree layui-inline" lay-filter="user">
    <li class="layui-nav-item">
        <a href="/user-home.html">
            <i class="layui-icon">&#xe609;</i>
            我的主页
        </a>
    </li>
    <li class="layui-nav-item {$user_index}">
        <a href="/user.html">
            <i class="layui-icon">&#xe612;</i>
            用户中心
        </a>
    </li>
    <li class="layui-nav-item {$user_edit}">
        <a href="/user-set.html">
            <i class="layui-icon">&#xe620;</i>
            基本设置
        </a>
    </li>
    <li class="layui-nav-item {$user_msg}">
        <a href="/user-message.html">
            <i class="layui-icon">&#xe611;</i>
            我的消息
        </a>
    </li>
    <li class="layui-nav-item {$user_score}">
        <a href="/user-score.html">
            <i class="layui-icon">&#xe62a;</i>
            积分日志
        </a>
    </li>
    <li class="layui-nav-item {$earn_score}">
        <a href="/user-get-score.html">
            <i class="layui-icon">&#xe637;</i>
            赚取积分
        </a>
    </li>
    <li class="layui-nav-item {$user_apply}">
        <a href="/user-identity-apply.html">
            <i class="layui-icon">&#xe616;</i>
            身份认证
        </a>
    </li>
</ul>